#preload-bg { background: url(../images/bw.png) no-repeat -9999px -9999px;}
#preload-k-s { background: url(../images/potential_kevin/kevin_standing_COMPRESSED.png) no-repeat -9999px -9999px;}
#preload-k-h { background: url(../images/potential_kevin/kevin_hover_COMPRESSED.png) no-repeat -9999px -9999px; }
#preload-p-s { background: url(../images/potential_paul/paul_standing_v2_COMPRESSED.png) no-repeat -9999px -9999px; }
#preload-p-h { background: url(../images/potential_paul/paul_hover_COMPRESSED.png) no-repeat -9999px -9999px; }
#preload-t-s { background: url(../images/potential_tony/tony_standing_COMPRESSED.png) no-repeat -9999px -9999px; }
#preload-t-h { background: url(../images/potential_tony/tony_hover_COMPRESSED.png) no-repeat -9999px -9999px; }
#preload-cu-s { background: url(../images/potential_CU/cu_standing_COMPRESSED.png) no-repeat -9999px -9999px; }
#preload-cu-h { background: url(../images/potential_CU/cu_hover_COMPRESSED.png) no-repeat -9999px -9999px; }
#preload-s-s { background: url(../images/potential_steve/steve_standing_COMPRESSED.png) no-repeat -9999px -9999px; }
#preload-s-h { background: url(../images/potential_steve/steve_hover_COMPRESSED.png) no-repeat -9999px -9999px; }
#preload-cb-s { background: url(../images/potential_CB/cb_standing_COMPRESSED.png) no-repeat -9999px -9999px; }
#preload-cb-h { background: url(../images/potential_CB/cb_hover_COMPRESSED.png) no-repeat -9999px -9999px; }

html, body{
    height: 100%;
    text-align: center;
    font-family: 'Sunflower', sans-serif;
    background-color: lightgray;
}



/*      NAVBAR      */



.navbar-brand {
    color: black;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: transparent;
}

.navbar-brand:focus {
    outline: 0;
}

.nav.navbar-nav {
    background-color: black;
}

.navbar-custom ul.nav li a {
	font-size: 18px;
	letter-spacing: 1px;
    color: white;
	text-transform: uppercase;
	font-weight: 700;
}

.navbar-custom .nav li a:hover {
    outline: 0;
    background-color: white;
}

.navbar-custom {
    background-color: transparent;
    text-align: center;
}

#nav {
    margin-top: 10px;
    text-decoration: none;
    font-family: 'Sunflower', sans-serif;
    text-align: center;
    
}

#nav a {
    text-decoration: none;
    transition: 1s linear;
}

#nav a:hover{
    background: white none;
    color: black;
    transition: 1s linear;
}

#nav ul {
    display: inline-block;
    list-style: none;
}

#nav li {
    display:inline-block;
    float: none;
}

.navbar.center .navbar-inner {
    text-align: center;
}

.navbar.center .navbar-inner .nav {
    float: none;
    display:inline-block;
}



/*      TOP      */

.top {
    height: 100%;
    /*      v1      */
    /*background-image: url(../images/bw.png);*/
    
    /*      v2      */
    /*background-image: url(../images/bg-IMG_1739.JPG);*/
    
    /*      v3      */
    /*background-image: url(../images/bg-IMG_1742.JPG);*/
    
    /*      v4      */
    background-image: url(../images/IMG_1751_fix.jpg);
    
    /*      v5      */
    /*background-image: url(../images/bg-IMG_1755.JPG);*/
    
    
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.logo {
    width: 60%;
    max-width: 350px;
    padding-top: 80px;
}

.fadein {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-timing-function: ease-in;
    animation-duration: 6s;
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fadein2 {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-timing-function: ease-in;
    animation-duration: 8s;
}

@keyframes fadeInOpacity2 {
    0% {
        opacity:0;
    }
    
    75% {
        opacity:0;
    }
    100% {
        opacity: 1;
    }
}

.downarrow {
    background-color: #ECFC20;
    border: none;
    color: black;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    border-radius: 3%;
    width: 100px;
    font-size: 30px;
    transition: 1s;
    border: 2px solid #ECFC20;
    height: 45px;
}

.downarrow:hover {
    background-color: black;
    border: none;
    color: white;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    border-radius: 3%;
    width: 100px;
    font-size: 30px;
    transition: 1s;
    border: 2px solid #ECFC20;
    height: 45px;
}

.contact-btn {
    font-size: 14px;
    height: 45px;
    background-color: #ECFC20;
    width: 100px;
    font-family: 'Sunflower', sans-serif;
    text-align: center;
    border: none;
    color: black;
    display: inline-block;
    text-decoration: none;
    border-radius: 3%;
    transition: 1s;
}

.contact-btn:hover {
    font-size: 14px;
    height: 45px;
    background-color: black;
    width: 100px;
    font-family: 'Sunflower', sans-serif;
    text-align: center;
    border: 2px solid #ECFC20;
    color: white;
    display: inline-block;
    text-decoration: none;
    border-radius: 3%;
    transition: 1s;
}

.contact-btn-text {
    line-height: 45px;
}

.btn-container {
    padding-top: 50px;
}

.pad-bot {
    padding-bottom: 10px;
}


/*      ABOUT       */


.about {
    background-color: lightgray;
    min-height: 100%;
    font-family: 'Sunflower', sans-serif;
    font-size: 16px;
}

.aboutline1 {
    padding-top: 30px;
}



/*      MUSIC       */


.music {
    background-color: lightgray;
    min-height: 100%;
    font-family: 'Sunflower', sans-serif;
}

.musicrow {
    padding-top: 20px;
    padding-bottom: 10px;
}

.bookus {
    padding-top: 20px;
    font-size: 18px;
}

/*      MEMBERS      */



.members {
    background-color: lightgray;
    font-family: 'Sunflower', sans-serif;
}

.member {
    padding-bottom: 25px;
}

.membersrow {
    padding-top: 50px;
}

.title {
    font-size: 50px;
    padding-top: 80px;
}

.membername {
    font-size: 30px;
}

.instrument {
    font-size: 15px;
}

.contain {
    width: 100%;
    max-width: 200px;
    text-align: center;
    position: relative;
    display: inline-block;
}

.dummy {
    margin-top: 100%;
}

.element {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
}

.element:hover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
}

#paul {
    background-image: url(../images/potential_paul/paul_standing_v2_COMPRESSED.png);
    transition: 0.5s linear;
}

#paul:hover {
    background-image: url(../images/potential_paul/paul_hover_COMPRESSED.png);
    transition: 0.5s linear;
}

#kevin {
    background-image: url(../images/potential_kevin/kevin_standing_COMPRESSED.png);
    transition: 0.5s linear;
}

#kevin:hover {
    background-image: url(../images/potential_kevin/kevin_hover_COMPRESSED.png);
    transition: 0.5s linear;
}

#tony {
    background-image: url(../images/potential_tony/tony_standing_COMPRESSED.png);
    transition: 0.5s linear;
}

#tony:hover {
    background-image: url(../images/potential_tony/tony_hover_COMPRESSED.png);
    transition: 0.5s linear;
}

#chris_u {
    background-image: url(../images/potential_CU/cu_standing_COMPRESSED.png);
    transition: 0.5s linear;
}

#chris_u:hover {
    background-image: url(../images/potential_CU/cu_hover_COMPRESSED.png);
    transition: 0.5s linear;
}

#steve {
    background-image: url(../images/potential_steve/steve_standing_COMPRESSED.png);
    transition: 0.5s linear;
}

#steve:hover {
    background-image: url(../images/potential_steve/steve_hover_COMPRESSED.png);
    transition: 0.5s linear;
}

#chris_b {
    background-image: url(../images/potential_CB/cb_standing_COMPRESSED.png);
    transition: 0.5s linear;
}

#chris_b:hover {
    background-image: url(../images/potential_CB/cb_hover_COMPRESSED.png);
    transition: 0.5s linear;
}




.contact {
    min-height: 100%;
    background-color: lightgray;
    font-family: 'Sunflower', sans-serif;
}

.fullwidth {
    width: 100%;
    max-width: 400px;
    height: 35px;
    font-size: 15px;
    padding-left: 10px;
}

input[type=submit] {
    width: 50%;
    max-width: 200px;
    border-radius: 5px;
    background-color: #ECFC20;
    height: 35px;
    font-size: 15px;
    transition: 1s;
}

input[type=submit]:hover {
    width: 50%;
    max-width: 200px;
    border-radius: 5px;
    background-color: black;
    height: 35px;
    font-size: 15px;
    transition: 1s;
    color: white;
}

.contactform {
    padding-top: 50px;
    padding-bottom: 50px;
}

textarea {
    width: 100%;
    max-width: 400px;
    height: 70px;
    font-size: 15px;
    padding-left: 10px;
    padding-top: 5px;
}

@media only screen and (max-device-width: 480px) {
    .top {
        height: 100%;
        background-image: linear-gradient(#FFFD95, #393838);
    }
}







/*                  LANDING                 */



.landing-top {
    height: 100%;
    background-image: linear-gradient(#FFFD95, #393838);
}

.landing-title {
    font-family: 'Sunflower', sans-serif;
    font-size: 45px;
    padding-top: 150px;
}

.landing-sub {
    font-family: 'Sunflower', sans-serif;
    font-size: 20px;
    padding-top: 50px;
}

.landing-btn {
    
}



/*              RECENT                      */

.recent_section {
    font-family: 'Sunflower', sans-serif;
    height: 100%;
    background-color: lightgray;
}

.eventtitle {
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.eventimage {
    width: 80%;
    max-width: 400px;
    padding-bottom: 20px;
}

.eventrow {
    padding-bottom: 50px;
}

.btn-row{
    padding-top: 50px;
    padding-bottom: 50px;
}

.recent-icon {
    width: 100%;
    margin-top: 100px;
    transition: 1s linear;
}

.recent-icon:hover {
    opacity: 0.5;
    transition: 1s linear;
}







footer {
    font-family: 'Sunflower', sans-serif;
    padding-bottom: 20px;
}